
# Editor settings etc
.*

# Build artefacts
*.o
*.idb
*.map

# Do not include user settings for qt
*.pro.user
*.pro.user*


# Doing by file type would exclude too much
bin2header.exe

# Only working on rp2040, requires a level shifter and only oldschool bdm is kinda working.
# It'll be included once all three versions of BDM are working
/firmware_mk2
/host_mk2

# There's a few "secret" projects in here that are not ready.
/host/cli/junk*
/host/cli/both/junk*
/host/cli/shared/junk*
/host/gui/linux
/host/gui/nix/build*

/host/gui/win/bdmstuff/.vs/*
/host/gui/win/bdmstuff/bin/*
!/host/gui/win/bdmstuff/bin/x86/Release
/host/gui/win/bdmstuff/bin/x86/Release/*
!/host/gui/win/bdmstuff/bin/x86/Release/*.exe
!/host/gui/win/bdmstuff/bin/x86/Release/*.dll
/host/gui/win/bdmstuff/dll/*
!/host/gui/win/bdmstuff/dll/*.dll
/host/gui/win/bdmstuff/obj/*

/host/gui/win/namedll/Debug/*
/host/gui/win/namedll/Release/*


/host/libusb/*
